<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA17eBHcFGzA8byhxdvF-ydVAZUGAHH1qw</string>
	<key>GCM_SENDER_ID</key>
	<string>200429213602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AndreaBottino.SwiftLingo</string>
	<key>PROJECT_ID</key>
	<string>swiftlingo-54880</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftlingo-54880.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200429213602:ios:1f1025d5cb6827d99984fb</string>
</dict>
</plist>